<ion-header>

</ion-header>

<ion-content padding>
  <div style="width: 100%; text-align: center; margin-top: 28%;">
    <img width="80%" src="assets/imgs/logo-bsmart-customers.png">
  </div>
  <ion-grid>
    <ion-row>
      <ion-label text-left class="font-header">เข้าสู่ระบบ</ion-label>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #input_phone text-left type="text" placeholder="อีเมล"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #input_password text-left type="password" placeholder="รหัสผ่าน"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <div (click)="Login_Click()" style="color:#f7901f;" ion-button block class="input-text" icon-right color="dark">
        เข้าสู่ระบบ
        <ion-icon name='arrow-forward'></ion-icon>
      </div>
    </ion-row>
  </ion-grid>

  <div (click)="Register_Click()" style="color:#f7901f;" ion-button block class="input-text" icon-right color="dark">
    Register
    <ion-icon name='arrow-forward'></ion-icon>
  </div>
</ion-content>