<ion-header>
  <ion-toolbar>
    <ion-button icon-only (click)="Back_Click()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-label text-center style="color: #fff;" class="font-header">ลงทะเบียนใช้งาน</ion-label>
    </ion-row>
    <div class="strike">
      <span></span>
    </div>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #input_username text-left type="text" placeholder="อีเมล" value=""></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #input_password text-left type="password" placeholder="รหัสผ่าน" value=""></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #input_confirmpass type="password" placeholder="Confirm Pass" value="">
        </ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #input_fname text-left type="text" placeholder="ชื่อ" value="">
        </ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #input_lname text-left type="text" placeholder="นามสกุล" value="">
        </ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #input_email text-left type="text" placeholder="Email" value="">
        </ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item class="input-text" no-lines>
        <ion-input #input_line text-left type="text" placeholder="Line ID" value="">
        </ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <button ion-button block class="input-text" (click)="Register_Click()" color="bsmart-withe">ลงทะเบียน</button>
    </ion-row>
  </ion-grid>
</ion-content>